{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <br>
        <center><h1>Hi <strong>{{ current_user.username }}</strong>!</h1></center>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form action="" method="post">
                {{ username_form.csrf_token }}
                <div class="form-group">
                    Update {{ username_form.username.label(class="form-control-label") }}
                    {{ username_form.username(class="form-control form-control-lg") }}

                    {% if username_form.username.errors %}
                    <div class="alert alert-warning" role="alert">
                        {% for error in username_form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ username_form.submit(class="flask-btn form-control form-control-lg") }}
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col">
        <a href="{{ url_for('music.user_reviews', username=current_user.username) }}">
            <div class="rounded float-left"><h4>Click here to see all your reviews<h4></div>
        </a>
        <a href="{{ url_for('music.liked_songs', username=current_user.username) }}">
            <div class="links rounded float-right"><h4>Click here to see your songs<h4></div>
        </a>
    </div>
</div>
{% endblock %}>