{% extends "header.html" %}
{% block search_bar %}

{% if error_msg %}
<p>{{ error_msg }}</p>
{% endif %}

<div class="container">
    <form action="/" class="form-inline mx-2 my-2 my-lg-0" method="POST">
        {{ form.csrf_token }}
        <span>
            {{ form.search_query(class="form-control", placeholder="Search") }}
            {{ form.input_type(class="form-control", placeholder="Type") }}

            {% if form.search_query.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.search_query.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}

            {% if form.input_type.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in form.input_type.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}

            {{ form.submit(class="invisible btn btn-outline-success") }}
        </span>
    </form>
</div>
{% endblock %}
{% block content %}

<div class="container">
    <br>
    <br>
    <center>
        <h1>Hi. Welcome to <strong>Vibe Check</strong>.</h1>
        <h6>The review platform centered around <strong>Music</strong>.</h6>
    </center>
</div>
<div class="container-fluid maxWidth">
    <center>
        <table>
            <tr> 
                <th><center>Position</center></th>
                <th><center>Song</center></th>
                <th><center>Artist</center></th>
            </tr>
            <br>
            <h4>Here are this week's <strong>Hottest Songs</strong>!</h4>
            <br>
            {% for key, values in data.items() %}
            <tr>
                <td><center>{{ key }}</center></td>
                {% for i in values %}
                {% if loop.index == 1 %}
                <td><a href="{{ url_for('music.music_detail', music_id=songs[key - 1].id, input_type=songs[key - 1].type) }}"><center>{{ i }}</center></a></td>
                {% elif loop.index < 3 %}
                <td><center>{{ i }}</center></td>
                {% else %} 
                <td><img src="{{ i }}" /></td>
                {% endif %}

                    
                {% endfor %}
            </tr>
            {% endfor %}
            
        </table>
    </center>
</div>





{% endblock %}