{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <br>
        <h2 class="text-center"><strong>{{ username }}'s</strong> Liked Songs</h2>
    </div>
</div>

<div class="container-fluid maxWidth">
    <center>
        <table id="hor-minimalist-b">
            <thead>
                <tr>
                    <th>
                        <center>Song</center>
                    </th>
                    <th>
                        <center>Artist</center>
                    </th>
                    <th>
                        <center>Album</center>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <br>
            <h4>You have <strong>{{ liked_songs.count() }}</strong> like songs</h4>
            <br>
            <tbody>
                {% for song in liked_songs %}
                <tr>
                    <td>
                        <center>{{ song.song }}</center>
                    </td>
                    <td>
                        <center>{{ song.artist }}</center>
                    </td>
                    <td>
                        <center>{{ song.album }}</center>
                    </td>
                    <td>
                        <center><a href="{{ url_for('music.remove_liked', username=username, song=song.song) }}">Remove</a></center>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </center>
</div>
{% endblock %}