{% extends "header.html" %}
{% block content %}

{% if error_msg %}
{% print("ewufhiwuef") %}
<b>{{ error_msg }}</b>
{% endif %}

{% if info %}

{# Display card for the movie details #}
<br>
{% if info.type|string() == "Track" %}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        <h2>{{ info.name }} (Track)</h2>
      </div>
      <div class="card-body">
        <img src="{{ info.image }}" class="mr-3 movie" alt="alt text">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h4><b>Artist:</b> {{ info.artist }}</h4></li>
          <li class="list-group-item"><b>Album:</b> {{ info.album_name }}</li>
          {% if song and current_user.is_authenticated and info.name != song.song %}
          <li class="list-group-item">
            <form method="POST" action="">
              {{ review_form.csrf_token }}
              <div class="form-group">
                {{ liked_songs_form.submit(class="flask-btn form-control form-control-lg") }}
              </div>
            </form>
          </li>
          {% elif current_user.is_authenticated and song %}
          <li class="list-group-item">
            <h5><b>Added to <a href="{{ url_for('music.liked_songs', username=current_user.username) }}">liked songs</a></h5>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if info.type|string() == "Artist" %}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        <h2>{{ info.name }} (Artist)</h2>
      </div>
      <div class="card-body">
        <img src="{{ info.image }}" class="mr-3 movie" alt="alt text">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Genres:</b> {{ ", ".join(info.genres) }}</li>
          <li class="list-group-item"><b>Followers:</b> {{ info.followers }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if info.type|string() == "Album" %}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        <h2><strong>{{ info.name }} (Album)</strong></h2>
      </div>
      <div class="card-body">
        <img src="{{ info.image }}" class="mr-3 movie" alt="alt text">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h4><b>Artist:</b> {{ info.artist }}</h4></li>
          <li class="list-group-item"><b>Number of Tracks:</b> {{ info.num_tracks }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
<br>
{# Reviews #}
<div class="row">
  <div class="col-md-12">
    <h2> Reviews <small class="float-right">{{ reviews|length }} reviews</small></h2>
    <ul class="media-list">
      {% for review in reviews %}
      <li class="review-item">
        <div>
          <span class="float-right">
            <small>{{ review.date }}</small>
          </span>
          <a href="{{ url_for('music.user_reviews', username=review.commenter.username) }}">
            <strong>@{{ review.commenter.username }}</strong>
          </a>
          <p>
            {{ review.content }}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if current_user.is_authenticated %}
{# Music review submission form #}
<div class="row">
  <div class="col">
    <form method="POST" action="">
      {{ review_form.csrf_token }}
      <div class="form-group">
        {{ review_form.text.label }}
        {{ review_form.text(class="form-control") }}

        {% if review_form.text.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in review_form.text.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}

      </div>
      <center>{{ review_form.submit(class="flask-btn form-control form-control-lg") }}</center>
    </form>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock content %}