{% extends "header.html" %}
{% block content %}

{% if error_msg %}
<b>{{ error_msg }}</b>
{% endif %}

{% if info %}

{# Display card for the movie details #}

{% if info.type|string() == "Track" %}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        {{ info.name }}
      </div>
      <div class="card-body">
        <img src="{{ info.image }}" class="mr-3 movie" alt="alt text">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Album:</b> {{ info.album_name }}</li>
          <li class="list-group-item"><b>Artist:</b> {{ info.artist }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if info.type|string() == "Artist" %}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        {{ info.name }}
      </div>
      <div class="card-body">
        <img src="{{ info.image }}" class="mr-3 movie" alt="alt text">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Genres:</b> {{ ", ".join(info.genres) }}</li>
          <li class="list-group-item"><b>Followers:</b> {{ info.followers }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if info.type|string() == "Album" %}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        {{ info.name }}
      </div>
      <div class="card-body">
        <img src="{{ info.image }}" class="mr-3 movie" alt="alt text">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Artist:</b> {{ info.artist }}</li>
          <li class="list-group-item"><b>Number of Tracks:</b> {{ info.num_tracks }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}

{# Reviews #}
<div class="row">
  <div class="col-md-12">
    <h1> Reviews <small class="float-right">{{ reviews|length }} reviews</small></h1>
    <ul class="media-list">
      {% for review in reviews %}
      <li class="media review-item">
        <div class="media-body">
          <span class="float-right">
            <small>{{ review.date }}</small>
          </span>
          <a href="{{ url_for('music.user_detail', username=review.commenter.username) }}">
            <strong>@{{ review.commenter.username }}</strong>
          </a>
          <p>
            {{ review.content }}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if current_user.is_authenticated %}
{# Movie review submission form #}
<div class="row">
  <div class="col">
    <form method="POST" action="">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.text.label }}
        {{ form.text(class="form-control") }}

        {% if form.text.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in form.text.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}

      </div>
      {{ form.submit() }}
    </form>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock content %}