img {
    max-width: 20vh;
}

body {
    font-family: 'Roboto', sans-serif;
}

.links h4 {
    border: thin black !important;
    border-radius: 2px !important;
}

.card-body > img {
    max-width: 200;
}

.media-list {
    border-top: 1px dashed rgb(150, 150, 150);
}

.review-item {
    border-bottom: 1px dashed #a5a5a5;
}

.flask-btn:hover {
    background: black;
    color: white;
    transition: 0.25s ease-in;
}

.media-list {
    border-top: solid;
}

form {
    margin-left: 15%;
    margin-right:15%;
    width: 70%;
}